
body {
  max-width: 1200px;

  background: #f9fbfb;

}

h5{
  color: #06060c;
  margin-left: 300px;
}

.text {
  font-style: oblique;
  width: 500px;
  font-size: large;
  display: none;
}


.text11 {
  display: none;
}

.text12{
  display: none;
}

.text1{
  color: #02140f;
  margin-left: 300px;
  width: 48%;

}
