*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  background-color:rgb(236, 244, 235)
}

.contact-me-btn {
  color: rgb(16, 17, 17);
  background-color: rgb(236, 241, 230);
  width: 20%;
  border-color: transparent;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  padding: 0.4rem 0;
  margin-left: 270px;
  outline: 1px solid rgba(32, 47, 32, 0.8);
  cursor: pointer;
  font-style: oblique;
  margin-top: 20%;
}

.img {
  width: 700px;
  margin-top: -15%;
  object-fit: cover;
  height: 27rem;
  margin-left: 60%;
  margin-right: 110px;
  margin-bottom: -20%;
}

.text12 {
  display: none;
}

.text1{
  color: #0a1411;
  margin-left: 300px;
}

